*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff4;


    
}

.login-container{
    width: 400px;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(red, green, blue, alpha);

}

